# RAPIDS cuDF bug. April 24, 2020
RAPIDS cuDF is not allowing merging a cuDF series to a cuDF dataframe. Below you see that it merges dataframe to dataframe fine but doesn't merge series to dataframe

In [1]:
import cudf
cudf.__version__

'0.13.0+0.ga2804c3.dirty'

In [2]:
df = cudf.DataFrame()
df['a'] = [1,2,2,4,5,5]
df['b'] = [2,3,4,5,6,7]

te = df.groupby('a')[['b']].agg('mean')
df = df.merge(te,left_on='a',right_index=True)
df.head()

   a  b_x  b_y
0  1    2  2.0
1  2    3  3.5
2  2    4  3.5
3  4    5  5.0
4  5    6  6.5

In [3]:
te.head()

     b
a
1  2.0
2  3.5
4  5.0
5  6.5

In [4]:
type(te)

cudf.core.dataframe.DataFrame

In [5]:
df = cudf.DataFrame()
df['a'] = [1,2,2,4,5,5]
df['b'] = [2,3,4,5,6,7]

te = df.groupby('a')['b'].agg('mean')
df = df.merge(te,left_on='a',right_index=True)
df.head()

TypeError: rename() got an unexpected keyword argument 'inplace'

In [6]:
te.head()

a
1    2.0
2    3.5
4    5.0
5    6.5
Name: b, dtype: float64

In [7]:
type(te)

cudf.core.series.Series