# Bug 002. Feb 26, 2020
In the code below, function `loc` is called on a `cudf.DataFrame()` to get a set of 75 rows. The first row requested has index 2987000. but the first row returned is 2987064.

In [1]:
import cudf, numpy as np
print('RAPIDS =',cudf.__version__)

RAPIDS = 0.12.0

In [2]:
df = cudf.DataFrame()
df['a'] = np.array([2987000., 2987001., 2987002., 2987003., 2987004., 2987005.,
       2987006., 2987007., 2987008., 2987009., 2987010., 2987011.,
       2987012., 2987013., 2987014., 2987015., 2987016., 2987017.,
       2987018., 2987019., 2987020., 2987021., 2987022., 2987023.,
       2987024., 2987025., 2987026., 2987027., 2987028., 2987029.,
       2987030., 2987031., 2987032., 2987033., 2987034., 2987035.,
       2987036., 2987037., 2987038., 2987039., 2987040., 2987041.,
       2987042., 2987043., 2987044., 2987045., 2987046., 2987047.,
       2987048., 2987049., 2987050., 2987051., 2987052., 2987053.,
       2987054., 2987055., 2987056., 2987057., 2987058., 2987059.,
       2987060., 2987061., 2987062., 2987063., 2987064., 2987065.,
       2987066., 2987067., 2987068., 2987069., 2987070., 2987071.,
       2987072., 2987073., 2987074., 2987075., 2987076., 2987077.,
       2987078., 2987079., 2987080., 2987081., 2987082., 2987083.,
       2987084., 2987085., 2987086., 2987087., 2987088., 2987089.,
       2987090., 2987091., 2987092., 2987093., 2987094., 2987095.,
       2987096., 2987097., 2987098., 2987099.], dtype='float32')
df['b'] = np.array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype='int8')

In [3]:
df = df.set_index('a')

In [4]:
split = 3*len(df)//4
idxA = df.index[:split]
idxB = df.index[split:]
np.array(idxA)

array([2987000., 2987001., 2987002., 2987003., 2987004., 2987005.,
       2987006., 2987007., 2987008., 2987009., 2987010., 2987011.,
       2987012., 2987013., 2987014., 2987015., 2987016., 2987017.,
       2987018., 2987019., 2987020., 2987021., 2987022., 2987023.,
       2987024., 2987025., 2987026., 2987027., 2987028., 2987029.,
       2987030., 2987031., 2987032., 2987033., 2987034., 2987035.,
       2987036., 2987037., 2987038., 2987039., 2987040., 2987041.,
       2987042., 2987043., 2987044., 2987045., 2987046., 2987047.,
       2987048., 2987049., 2987050., 2987051., 2987052., 2987053.,
       2987054., 2987055., 2987056., 2987057., 2987058., 2987059.,
       2987060., 2987061., 2987062., 2987063., 2987064., 2987065.,
       2987066., 2987067., 2987068., 2987069., 2987070., 2987071.,
       2987072., 2987073., 2987074.], dtype=float32)

In [5]:
df.loc[idxA]

           b
a
2987064.0  0
2987065.0  0
2987066.0  0
2987067.0  0
2987068.0  0
...       ..
2987027.0  0
2987028.0  0
2987029.0  0
2987030.0  0
2987031.0  0

[75 rows x 1 columns]